{% extends 'layouts/base.html' %}

{% block content %}

<div class="min-vh-100 d-flex align-items-center">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-xl-9">
                <!-- Card -->
               


                <div class="card auth-card">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-10">
                            <h4 class="mb-5 font-20">Forget Password</h4>

                            <form action="{% url 'accounts:forgotPassword' %}" method="post">
                                {% csrf_token %}
                                
                                <!-- Form Group -->
                                <div class="form-group mb-4">
                                    <label for="email" class="mb-2 font-14 bold black">Email Address</label>
                                    <input required type="email" name="email" class="theme-input-style" placeholder="Email Address">
                                </div>
                                <!-- End Form Group -->

                                <button type="submit" class="btn btn-primary btn-long">Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
