    <!-- Footer -->
    <footer class="bg-light text-dark pt-4 my-3">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="mb-4 font-weight-bold">Fantasy League</h5>
                    <p>Join our fantasy football community and experience the thrill of the game!</p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="mb-4 font-weight-bold">Links</h5>
                    <p><a href="{% url 'accounts:about' %}" class="text-dark">About</a></p>
                    <p><a class="text-dark" href="{% if request.user.is_authenticated %}{% if not request.user.fantasyteam.first %}{% url 'fantasy:create-team' %}{% else %}{% url 'fantasy:my-team-overall' request.user.fantasyteam.first.pk %}{% endif %}{% else %}{% url 'accounts:login' %}{% endif %}">My Team</a></p>
                    <p><a class="text-dark" href="{% url 'fantasy:overall-leaderboard' %}">Leaderboard</a></p>
                    
                
                </div>

                <!-- Add more columns as needed -->
            </div>

            <hr class="mb-4">

            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p>&copy; 2023 Fantasy League. All rights reserved.</p>
                </div>

                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a href="#" class="btn-floating btn-sm text-dark"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="btn-floating btn-sm text-dark"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="btn-floating btn-sm text-dark"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
